In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/hotshot07/Desktop/thesis/final_pipeline/pcap-service/processed-files/pcap-28-03-22-1648425622.csv')

In [4]:
df

,length,timestamp,ip.src,ip.dst,protocol,protocol.sport,protocol.dport,source_internal,source_external,destination_internal,destination_external
0,180,1.648426e+09,10.240.0.4,10.244.0.6,TCP,10250,36032,1,0,1,0
1,310,1.648426e+09,10.244.0.6,20.73.113.93,TCP,43036,9000,1,0,0,1
2,66,1.648426e+09,20.73.113.93,10.244.0.6,TCP,9000,43036,0,1,1,0
3,198,1.648426e+09,20.73.113.93,10.244.0.6,TCP,9000,43036,0,1,1,0
4,66,1.648426e+09,10.244.0.6,20.73.113.93,TCP,43036,9000,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
358165,66,1.648426e+09,10.244.0.6,10.240.0.4,TCP,36032,10250,1,0,1,0
358166,238,1.648426e+09,10.244.0.6,20.73.113.93,TCP,43036,9000,1,0,0,1
358167,198,1.648426e+09,20.73.113.93,10.244.0.6,TCP,9000,43036,0,1,1,0
358168,66,1.648426e+09,10.244.0.6,10.240.0.4,TCP,36032,10250,1,0,1,0
358169,66,1.648426e+09,10.244.0.6,20.73.113.93,TCP,43036,9000,1,0,0,1