In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('processed_wordpress1.csv')

In [8]:
df

,uuid,timestamp,length,ip.src,source_internal,source_external,ip.dst,destination_internal,destination_external,protocol,protocol.sport,protocol.dport,score,Unnamed: 13
0,cd3a3440edbf456ca2b2b6abc008734d,1.645211e+09,96,10.240.0.4,1,0,10.244.0.11,1,0,TCP,10250,49190,0.296678,NaN
1,582d01e2622e4b299295f5da53f64fe4,1.645211e+09,172,10.240.0.4,1,0,10.244.0.11,1,0,TCP,10250,49190,0.295463,NaN
2,2abe6186ba7f4408b6669e452328e953,1.645211e+09,230,10.244.0.11,1,0,52.143.28.136,0,1,TCP,54822,9000,0.612088,NaN
3,19de619fed59441f97b04f5880fec907,1.645211e+09,66,52.143.28.136,0,1,10.244.0.11,1,0,TCP,9000,54822,0.509443,NaN
4,ca5709bea49f4cc682df0257a9113fd5,1.645211e+09,198,52.143.28.136,0,1,10.244.0.11,1,0,TCP,9000,54822,0.503236,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42855,dcaabce5b6f9461bb30c394c54b04258,1.645211e+09,66,10.244.0.2,1,0,10.244.0.6,1,0,TCP,47022,25227,0.319734,NaN
42856,5bc5b59441364def8fc976b50b8f3633,1.645211e+09,66,10.244.0.2,1,0,10.244.0.6,1,0,TCP,47022,25227,0.319734,NaN
42857,2399be733fa34141b81e7697fbd804c0,1.645211e+09,66,10.244.0.2,1,0,10.244.0.6,1,0,TCP,47022,25227,0.319734,NaN
42858,c4c489a3dc834ce5ab0b214fa966e517,1.645211e+09,78,10.244.0.6,1,0,10.244.0.2,1,0,TCP,25227,47022,0.314979,NaN
42859,93ac4b81ea4e446eb1151c584a8eefe8,1.645211e+09,66,10.244.0.6,1,0,10.244.0.2,1,0,TCP,25227,47022,0.315101,NaN

In [10]:
dummy_protocol = pd.get_dummies(df["protocol"])

In [11]:
dummy_protocol

   TCP  UDP
0    1    0
1    0    1
2    1    0
3    1    0
4    0    1